<h1>Add a doctor</h1>
<form action="/doctors" method="post">
  <div class="form-group">
    <label for="name">Doctor name</label>
    <input id="name" name="name" type="text" class="form-control" required>
    <label for="specialty">Doctor's specialty</label>
    <input id="specialty" name="specialty" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add doctor</button>
  <a href="/doctors"><button type="button" class="btn btn-primary">Go back</button></a>
</form>
